
.page-holder{
    min-height: 100vh;
}

.bg-cover{
    background-size: cover !important;
}

table{
  margin-right: 50%;
}

.degrade-horizontal {
  background: linear-gradient(to right, blue, pink);
}

