.page-holder { min-height: 100vh; }
.zindex { z-index: 1; }
.img-logo { width: 45px; }
.bg-cover { background-size: cover !important;
  background: linear-gradient(0deg, rgba(33, 37, 41, 1) 0%, rgba(0, 0, 0, 0.6) 30%, rgba(255, 255, 255, 0) 100%), url(../img/bg.png); }
.degrade-horizontal {   background: linear-gradient(to right, rgb(23, 23, 27), rgb(240, 236, 237)); }
.vheight-50 { margin-top: 50vh; }
.degrade-horizontal2 {
  background: linear-gradient(to right, rgb(239, 239, 241), rgba(14, 10, 11, 0.363));
}

.map-responsive {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }
  
  .map-responsive iframe {
  left:0;
  top:0;
  width:100%;
  }